.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: inherit;
    color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    background: linear-gradient(to right, #4e4e4f, #b9b7b4);

  }
  
  .logo {
    max-height: 120px;
    max-width: 100%;
    object-fit: contain;
    overflow: hidden;  
    padding-top: 1%;  
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    overflow-x: hidden;
  }
  
  .nav-links li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .nav-links li a:hover {
    color: #D4AF37;
  }

  @media (max-width: 768px) {
    .navbar {
      padding: 1rem; /* Adjust padding for smaller screens */
    }
  
    .nav-links {
      flex-wrap: wrap; /* Allow links to wrap to the next line on smaller screens */
    }
  }
