#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
}

.main{
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: calc(100vh - 120px); /* Subtract navbar height */
}

  .header {
    /* Define the base flex container styles */
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    font-size: 2.5rem; 
    font-weight: 800; 
    letter-spacing: -0.025em; /* Tracking tight */
    color: black;
    font-size: 4rem;
  }
  
  /* Define styles for screens smaller than medium-sized */
  @media (max-width: 768px) {
    .header {
      flex-direction: column !important;
      gap: 0;
      align-items: start;
      padding: 0;
      margin-bottom: 0;
    }
    span {
      margin-top: 0.1rem;
    }

  }
  
  /* Align flex items to the start of the cross-axis */
  .items-start {
    align-items: flex-start;
  }
  
  /* Apply opacity */
  .opacity-0 {
    opacity: 0;
  }
  
@keyframes revealText {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
.revealing-text {
  padding: 0;
  opacity: 0;
  animation: revealText 2s ease-out .5s forwards;
}
.delay-1 {
  animation-delay: 0.5s;
}
.delay-2 {
  color: white;
  animation-delay: 1.0s;
}
.delay-3 {
  animation-delay: 1.5s;
}
.delay-4 {
  animation-delay: 2.0s;
}
